---
layout: home
---
<div class="body">
	<div class="home-header wrapL">
		<div class="home-updates">
			<div class="home-updates-news">
				<img src="{{ site.url }}/asset/img/icon/block.png" alt="" style="width: 49px;">
				<h4>비트코인 소식</h4>
				<ul>
					{% for post in site.categories.news  limit: 4 %}
					<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
			</div>

			<div class="home-updates-posts">
				<h4>비트코인 번역 & 칼럼</h4>
				<ul>
					{% for post in site.categories.column  limit: 2 %}
					<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
					{% endfor %}
					{% for post in site.categories.translation  limit: 2 %}
					<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
					{% endfor %}

					
				</ul>
			</div>

		</div>
		<div class="home-show">
			<h1>21M <span>21,000,000</span></h1>
			<!-- <h3>2천1백만개. 변하지 않는 비트코인.</h3> -->
			<h3>변하지 않는 모두의 비트코인.</h3>
			<p>2009년 익명의 개발자를 통해 탄생한 Bitcoin 은 현재 수만개의 컴퓨터들이 코드와 거래의 진위여부를 서로 검증하며 특정 정부나 국가가 통제할 수 없는 시스템으로 발전하였습니다. 미국을 비롯한 전 세계 곳곳에서 가치저장 수단으로, 그리고 신뢰가 가능한 완전한 화폐로서 활용되고 있습니다.</p><p>Bitcoin KR 은 비트코인을 소개하는 비영리 사이트입니다. 비트코인의 소식과 정보를 나누며 커뮤니티와 배움이 있는 통로로의 역할을 감당할 것입니다.</p>
			<p>비트코인은 초창기 부터 비트코인을 모방하려는 많은 복사본들이 존재 했습니다.<br>비트코인은 BTC 약자로 통하며 비트코인 캐쉬(BCH), 비트코인SV(BSV), 비트코인ABC등과 구별됩니다.</p>
		</div>
	</div>
	<div class="home-decobar">
		<div class="container-xl home-decobar-content">
			<div class="home-decobar1"></div>
			<div class="home-decobar2"></div>
			<div class="home-decobar3"></div>
			<div class="home-decobar4"></div>
		</div>
	</div>
	<div class="home-posts wrapL">
		
			<div class="block">
				<hgroup>
				<h6>비트코인 전문가 칼럼</h6>
				<h3>비트코인 칼럼</h3>
				</hgroup>
				<ul class="article-list">
					{% for post in site.categories.column  limit: 6 %}
					<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><time>{{ post.date | date: "%Y-%m-%d" }}</time> <span>{{ post.author }}</span></li>
					{% endfor %}
				</ul>
				<a href="{{ site.url }}/column" class="btn_more">More</a>
			</div>
			
			<div class="block">
				<hgroup>
				<h6>번역 자료들</h6>
				<h3>비트코인 번역글</h3>
				</hgroup>
				<ul class="article-list">
					{% for post in site.categories.translation  limit: 6 %}
					<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><time>{{ post.date | date: "%Y-%m-%d" }}</time> <span>{{ post.ori_author }}</span></li>
					{% endfor %}
				</ul>
				<a href="{{ site.url }}/translation" class="btn_more">More</a>
			</div>

			

			<div class="block">
				<hgroup>
				<h6>비트코인 People 이야기</h6>
				<h3>비트코인 피플</h3>
				</hgroup>
				<ul class="profile-list">
					{% for post in site.categories.interview  limit: 5 %}
					<li><a href="{{ post.url | prepend: site.baseurl }}" style="background-image: url(asset/img/profile/{{ post.authorid }}.jpg);" class="profile-photo"></a><a href="{{ post.url | prepend: site.baseurl }}" class="profile-name">{{ post.title }}</a></li>
					{% endfor %}
				</ul>
				<a href="{{ site.url }}/interview" class="btn_more">More</a>
			</div>

		
	</div>


</div>