<!doctype html>

<html lang="kr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>BKR</title>
  <meta name="description" content="비트코인KR 비트코인 코리아 Bitcoin 커뮤니티 모임 자료 번역글">
  <meta name="author" content="bkr">
  <meta property="og:title" content="비트코인KR 비트코인 코리아">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://bitcoinkr.org">
  <meta property="og:description" content="비트코인KR 비트코인 Bitcoin 커뮤니티 모임 자료 번역글">
  <meta property="og:image" content="{{ site.url }}/asset/image.png">
  <link rel="icon" href="{{ site.url }}/asset/favicon.ico">
  <link rel="icon" href="{{ site.url }}/asset/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ site.url }}/asset/apple-touch-icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}/css/reset.css">
  <link rel="stylesheet" href="{{ site.url }}/css/style.css?v=1.0">
</head>

<body>
<div class="header">
	<div class="logo"><a href="{{ site.url }}">BITCOIN KR ORG</a></div>
	<div class="menu">
		<ul>
    <li><a href="{{ site.url }}/study">스터디.</a></li>
    <li><a href="{{ site.url }}/translation">번역.</a></li>
    <li><a href="{{ site.url }}/column">칼럼.</a></li>
    <li><a href="{{ site.url }}/share">자료.</a></li>
    <li><a href="{{ site.url }}/interview">피플.</a></li>
    <li><a href="{{ site.url }}/community">커뮤니티.</a></li>
    <li><a href="{{ site.url }}/english">Eng.</a></li>
    </ul>
	</div>
	<div class="menu_btn"><img src="{{ site.url }}/asset/img/icon/logo.png" alt=""></div>
</div>