/* -------------------------------- 

Home style for index.html

home-header
home-deco
home-posts

-------------------------------- */

.home-header {
	display: grid;
	grid-template-columns: 40% 60%;
	padding: 0px 0 50px;

	.home-updates {
		margin: 10em 0 0 5em;
		font-size: 1.2em;

		h4 {
			font-size: .8em;
			padding-bottom: 1.4em;
			padding-top: 1em;
		}
		a {
			//color: #D5D5D5;
		}
		
		.home-updates-news {
			li:nth-child(3), li:nth-child(4) {
				a {
					color: #D5D5D5;
				}
			}
		}

		.home-updates-posts {
			h4 {
				padding-top: 4em;
			}
			li {
				padding-right: 2em;
			}
		}
	}

	.home-show {
		h1 {
			font-size: 12em;
			span {
				font-size: 0.8rem;
				padding: 0.2rem 0.3rem;
				background: black;
				color: #F8F8F8;
				border-radius: 3px;
			}
		}
		h3 {
			padding: 1em 0;
			font-size: 3.5em;
		}
		p {
			max-width: 800px;
			padding: 0 0 1.5em;
			font-size: 1.2em;
			font-weight: 500;
			&:last-child {
				font-size: 1em;
				color: #b4b4b4;
			}
		}
	}
}
.home-decobar {
	background-image: linear-gradient(#FFFFFF, #F4F4F4);
	height: 14em;
	width: 100%;
	border-radius: 5em;
}
.home-decobar-content {
	position: relative;

	.home-decobar1 {
		position: absolute;
		background-color: #686868;
		border-radius: 1em;
		height: 6em;
		width: 92%;
		margin-left: 4%;
	}
	.home-decobar2 {
		position: absolute;
		top: .8em;
		background-color: #434343;
		border-radius: 1em;
		height: 6em;
		width: 94%;
		margin-left: 3%;
	}
	.home-decobar3 {
		position: absolute;
		top: 1.6em;
		background-color: #1F1F1F;
		border-radius: 1em;
		height: 6em;
		width: 96%;
		margin-left: 2%;
	}
	.home-decobar4 {
		position: absolute;
		top: 2.4em;
		background-color: black;
		border-radius: 1em;
		height: 6em;
		width: 98%;
		margin-left: 1%;
	}

}

.home-posts {
	background: url(../asset/img/icon/logo.png) no-repeat;
	background-position: 3em 6em; 
	background-size: 55px;
	background-color: inherit;
	.block {
		text-align: center;

		hgroup {
			padding: 5em 2em;
			h6 {
				font-size: 1em;
				color: #787878;
			}
			h3 {
				font-size: 2.8em;
				//padding-bottom: 1em;
			}
		}
	}
}
.icon-block {
	display: block;
	width: 49px;
	height: 49px;
	background-size: 49px;
	background-repeat: no-repeat;
	margin-bottom: 0.7em;
}

.tooltip .tooltiptext {
	font-size: 1.2em;
  visibility: hidden;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align:left;
  border-radius: 6px;
  padding: 5px 5px;
  bottom: 80%;
  margin-left: -110px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}