/* -------------------------------- 

Article text style

-------------------------------- */
.text {
	line-height: 1.6;
	overflow-wrap: break-word;
	a {
		text-decoration: underline;
	}
	p {
		padding-top: 1em;
		padding-bottom: 1.4em;
	}
	h1 {
		font-size: 3em;
		padding-bottom: 1.4rem;
	}
	h2 {
		font-size: 2.4em;
		padding-bottom: .5rem;
		padding-top: 4rem;
	}
	h3 {
		font-size: 1.4em;
		padding-bottom: .5rem;
		padding-top: 2rem;
	}
	h4 {
		font-size: 1.2em;
		padding-bottom: .5rem;
		padding-top: 2rem;
	}
	h5 {
		font-size: 1.1em;
		padding-bottom: .5rem;
		padding-top: 2rem;
	}
	h6 {
		font-size: 1em;
		padding-bottom: .5rem;
		padding-top: 2rem;
	}
	blockquote {
		font-size: 1.2em;
		font-style: italic;
		padding-top: 1em;
		padding-bottom: 1.4em;
		font-weight: 500;
	}
	ul {
	margin-left: 2.4em;
	padding-bottom: 1.4em;
		li {
			list-style: square;
		}
	}
	ol {
	margin-left: 2.4em;
	padding-bottom: 1.4em;
		li {
			list-style: decimal;
		}
	}

	strong,em {
		font-weight: 600;
	}

	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 15px;
	}

	//youtube
	iframe {
		
	}
	.video {
		margin-bottom: 2em;
	  position: relative;
	  overflow: hidden;
	  width: 100%;
	  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	  iframe {
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	  }
	  video {
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    width: 100%;
	    height: 100%;
	  }
	}
}