{% include header.html %}

<div class="body">
	<div class="post-header wrapL">
		<h6>원본글: <a href="{{ page.ori_address }}" target="_blank">{{ page.ori_title }} by <span>{{ page.ori_author }}</span></a></h6>
		<h1><a href="{{ post.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
	</div>
	<div class="post-info wrapS">
		<div class="block">
			<div class="post-profile" style="background-image: url({{ site.url }}/asset/img/profile/{{ page.authorid }}.jpg);"></div>
			<div class="post-extra">
				<div class="post-id"><a href="{{ site.url }}/tags/{{ page.authorid }}">{{ page.author }}</a></div>
				<div class="post-date">발행날짜: {{ page.date | date: "%Y-%m-%d" }}</div>
			</div>

		</div>
		<div class="block post-excerpt">
			<p>"{{ page.excerpt }}"</p>
		</div>
	</div>
	<div class="post-content text">
		{% if page.thumbnail %}
		<div class="featured-image">
			<img src="{{ site.url }}/assets/img/thumb/{{ page.thumbnail }}" alt="">
		</div>
		{% endif %}
		
		<div class="wrapXS">
			{{ content }}
			<a href="{{ page.ori_address }}" class="btn_address" target="_blank">원본글: {{ page.ori_title }}</a><br>
			<a href="{{ site.url }}/tags/{{ page.authorid }}" class="btn_address">번역: {{ page.author }}</a>

		</div>
		
	</div>

	<div class="block wrapL" style="text-align: center;padding: 4em 0;">
				<ul class="article-list">
					{% for post in site.categories.translation %}
					<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><time>{{ post.date | date: "%Y-%m-%d" }}</time> <span>{{ post.author }}<br>{{ post.ori_author }}</span><i><img src="/asset/img/profile/{{ post.authorid }}.jpg" alt="" style=""></i></li>
					{% endfor %}
				</ul>
	</div>

</div>
{% include footer.html %}